* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: x none;
   
  }
  
  html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    background-color:  hsl(240, 17%, 35%);

  }

  header{
    position: relative;
    background-color: #2f294a;
    background-image: linear-gradient(330deg, #2f294a 0%, #292e49 15%, #29434a 100%);
    height: 50px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}

.logos{
  width: 100%;
  height: 60px;


background-color: #2f294a;
background-image: linear-gradient(330deg, #2f294a 0%, #292e49 15%, #29434a 100%);
  display: flex;
  justify-content: space-between;


}

nav{
  display: none;
  position: absolute;
  z-index: 1;
  top: 200px;
  bottom: 0;
  background-color: white;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 15px;
  cursor: pointer;
  width: 90vw;
  opacity: 100%;
  height: 250px;

}

nav ul{
list-style: none;
padding: 20px;
}

nav a {
  text-decoration: none;
 
}

#solucion {
 background-color: hwb(192 9% 21%);
 
  border-radius: 10px;
  
}
#solucion:hover{
  background-color: hwb(192 31% 6%);

}
nav ul li{
  list-style: none;
font-size: 1.8rem;
  text-align: center;
   margin: 10px auto; 
   color: black;
   width: 40vw;
   height: 7vh;
   padding: 8px;
  align-items: center;
   
  }
  nav ul li:hover {
background-color:   #66c7e0;
border-radius: 10px;

  }

.menu{
   display: inline-block;
   background-image: url(./img/menu.svg);
   background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin: 15px;
    background-color: transparent;
    line-height: 40px;
    vertical-align: top;
   cursor: pointer;
}

.menu:hover{
  background-color: transparent;
}



.logo{
  padding: auto;
  align-items: center;
  display: inline-block;
  background-image: url(./img/logo.png);
  background-repeat: no-repeat;
  height: 40px;
  font-size: 1.8rem;
  width: 50vw;
  max-width: 116px;
  margin: 10px;

 
}

  .container{
   margin:  0 auto;
    background-color: #00329E;
    display: flex;
    flex-wrap: wrap;
   /* width: 90vw;*/
    height: auto;
    justify-content: center;
  }

  .div1{
    margin:  0 auto;
    justify-content: center;
    
  }

  h1{
    background-color: white;
    font-size: 4.0rem;
    text-align: center;
    background-color: #00329E;
    color: white;
  }

  span{
    margin: 30px 10px;
    display: inline-block;
    width: 220px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;

  }

  span:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  }
 
  #ca{
    background-image: url('./img/ca.png');
   
  }

  #sura{
    background-image: url('./img/aplicaciones.png');
  }
  #conflues{
    background-image: url('./img/confluence.png'); 
  }
  #zeus{
    background-image: url('./img/zeuss.webp');
  }
  #sura-broker{
    background-image: url('./img/SURABROKER.png');
  }
  
  #control-ases{
    background-image: url('./img/control-ases.png');
  }
   #dynatrace{
    background-image: url('./img/dynatrace.png');
  }
  #splum{
    background-image: url('./img/splunk.avif');
    width: 250px;
  }
  #global-web{
    background-image: url('./img/global-web.png');
  }

  #adr{
    background-image: url('./img/aplicativo-adr.png');
  }
  #PAS{
    background-image: url('./img/pas.png');
  }

 #rabbit{
  background-image: url('./img/rabbit.png');
 }

  #escalamiento{
    background-image: url('./img/matriz-escalamiento.png');
  }

  .tooltip-box {
    display: none;
    position: absolute;
    background-color: #3a5c5f;
    color: #fff;
    padding: 20px 15px;
    width: 500PX;
    border-radius: 5px;
    font-size: 2.0rem;
    z-index: 1000;
    pointer-events: none; 
  }


  .tooltip-box .title {
    font-weight: bold;
    color: #ffcc00; 
    height: 70px;
    display: block; 
    margin-bottom: 1px;
  }
  
